{% extends 'easyshare/base.html '%}
{% block title %}About{% endblock %}
{% block content %}

<h1 class="mt-3 mb-3 ml-4"> Welcome to Adda Blog! </h1>

<div class="col-sm-12  col-md-8 ">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>What is Adda?</h2>
            <p class="mt-2 ml-2">Adda is a blog app that allows you to posts and share your views and thoughts to others.</p>
            <h3>How to Use Adda?</h3>
            <p class="mt-2 ml-2">You can read all posts and details but to add post you should create an account or login.
                Then you are authorized to post. You can also set your profile.
            </p>
            <h3>Details and Recommendations!</h3>
            <ul>
                <li>Use Gmail while you register in the app it helps to reset your password</li>
                <li>Don't post any partial or violent news. Only Study related topics should be posted.</li>
                <li>You can update and delete your post anytime you like</li>
                <li>The page is always Updated. So you can see the recent posts top of the list</li>
            </ul>
            <h3>Note:</h3>
            <p class="mt-2 ml-2"> This is not Complete App. It is under Develop now.
                So we are working to make it more charming and more functional for the users.</p>
        </div>
    </div>
</div>
{% endblock content %}